<h1>Long and inifinte listing</h1>
<p>Here we'll have an infinite amount of items to list.</p>

<div data-controller="loader">
  <ol data-target="loader.list">
    <% 5.times do %>
      <li>an item</li>
    <% end %>
  </ol>
  <p style="display: none" data-target="loader.loading">Loading...</p>
  <button type="button" data-action="loader#load" data-target="loader.button">Load more</button>
</div>
